# Node
node_modules/
dist/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Android / Docker
instances_data/
docker-compose.generated.yml

# Environment & Configs
.env
config.json

# OS
.DS_Store
*.log
